@charset "utf-8";
/* CSS Document */

.footer {
	color: #ddd;
	padding: 15px 0 5px;
	max-width:100%;
	position: relative;
}
.perataan {
	padding: 27px 0 0;
}
.navbar {
    position: relative;
    min-height: 90px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.navbar-nav {
    float: left;
    margin: 0px;
    padding: 20px 0 0;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
